<?php return array('DB_PWD'=>'YOUR-DB-PWD','DB_TYPE'=>'mysql','DB_HOST'=>'localhost','DB_USER'=>'YOUR-DB-USER','DB_NAME'=>'efucms','DB_PREFIX'=>'efu_','APP_NAME'=>'Easy For Use CMS','LIST_PAGE'=>'5','APP_METADESC'=>'EFUcms是一款简单易用的内容管理系统，提供了CMS所有最基本的功能。','APP_METAKEY'=>'CMS, 简单易用','APP_YEAR'=>'2012','APP_ICP'=>'YOUR-SITE-ICP');
