@charset "utf-8";
/* CSS Document */

/*
** 单页文章样式表
*/

*{
	margin:0;
	padding:0;}

a,a:visited{
	color: #00F;}

/* for IE */
body{
	text-align:center;}

/* for Mozilla */
#header, #container, #footer{
	margin:0 auto;
	width:960px;
	text-align:left;}

#header{
	margin-top: 10px;}
	
#container{
	height: 300px;
	background: #F5F5F5;}