/* 缓存管理样式表 */

input:focus, select:focus, textarea:focus{
	background:#FFC;}
	
#container .right{
	float:right;
	width:73%;
	border:2px solid #FC6;}

h5{
	color:#0B55C4;
	margin-bottom:10px;}

.right .top{
	margin:10px 10px 30px 10px;}

.right .top table tbody tr td p.title{
	font-weight:bold;
	color:#0B55C4;}

.right .top table tbody tr td a{
	text-decoration:none;
	color:#3333FF;
	font-weight:bold;
	font-size:13px;}

.right .top table tbody tr td a:visited{
	color:#3333FF;}
	
.right .top table tbody tr td a:hover{
	text-decoration:underline;}

.right .bottom{
	margin:10px;
	width:680px;}